/* Main */
img {
  max-width: 100%;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Overskriften */
h1 {
  text-align: center;
  color: var(--blue);
  font-size: 2rem;
  border-bottom: 3px var(--orange) solid;
  margin-inline: 9rem;
  line-height: 7rem;
}

/* inhold */
@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.tekst {
  margin: 2rem;
}
.linje {
  border: 1.5px var(--orange) solid;
  margin-inline: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
