/* Main */
img {
  max-width: 100%;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sign_in {
  display: flex;
  justify-content: end;
  margin-right: var(--space-s);
  margin-top: var(--space-m);
  font-family: helvetica_bold;
  color: var(--orange);
}
nav ul li {
  margin-left: -4rem;
  text-decoration: none;
  font-family: helvetica_bold;
  list-style-type: none;
  line-height: 1.5rem;
  color: var(--blue);
}

/* Overskriften */
h1 {
  text-align: center;
  color: var(--blue);
  font-size: 3rem;
  border-bottom: 3px var(--orange) solid;
}

/* inhold */
@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.tekst {
  margin: 2rem;
}
.linje {
  border: 1.5px var(--orange) solid;
  margin-inline: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
