/* Main */
img {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: 100%, 100%;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* inhold */
@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
  }
}
.tekst {
  text-align: center;
  padding-top: 5rem;
  margin: 2rem;
}

/* Overskriften */
h1 {
  text-align: center;
  margin-right: 8rem;
}
#overskrift {
  margin-left: 10rem;
}
