/* @mediaquery til at sætte indholdet i grid når skærmen er over 660pixels*/

.sign_in {
  display: flex;
  justify-content: end;
  margin-right: var(--space-s);
  margin-top: var(--space-m);
  font-family: helvetica_bold;
  color: var(--orange);
}

nav ul li {
  margin-left: -4rem;
  text-decoration: none;
  font-family: helvetica_bold;
  list-style-type: none;
  line-height: 1.5rem;
  color: var(--blue);
}
@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  /* order så billedet kommer først i mobile version men sidst i web-version*/
  .order {
    order: 1;
  }
}
h3 {
  font-family: helvetica_light;
  font-size: ;
  line-height: ;
  font-weight: ;
  margin-bottom: ;
  color: var(--orange);
}
.blå {
  color: var(--blue);
}
.couples {
  padding: ;
}
