header nav {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.filteroverskrift {
  display: none;
}
button {
  color: var(--blue);
  font-family: helvetica_medium;
  font-size: 1rem;

  border: none;
  background-color: transparent;
  border-right: #1b8fad solid 1px;
  padding-inline: 1rem;
}

.knapper :last-child {
  border-right: none;
}

button:hover {
  border-bottom: #1b8fad solid 2px;
}

#destination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

article {
  margin: 4rem;
  padding: 2rem;
  border: #c7c7c7 1px solid;
  box-shadow: 6px 8px 10px #c7c7c7;
  border-bottom: #1b8fad;
}

img {
  max-width: 50%;
}

#popup article {
  background-color: rgb(255, 255, 255);
  width: 60%;
}

#popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
