header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sign_in {
  display: flex;
  justify-content: end;
  margin-right: var(--space-s);
  margin-top: var(--space-m);
  font-family: helvetica_bold;
  color: var(--orange);
}

nav ul li {
  margin-left: -4rem;
  text-decoration: none;
  font-family: helvetica_bold;
  list-style-type: none;
  line-height: 1.5rem;
  color: var(--blue);
}

a:link {
  text-decoration: none;
}

.filtre_buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--space-m);
}

.filteroverskrift {
  display: none;
  font-size: var(--space-xs);
}
button {
  color: var(--blue);
  font-family: helvetica_medium;
  font-size: var(--space-xs);

  border: none;
  background-color: transparent;
  border-right: var(--blue) solid 1px;
  padding-inline: 1rem;
}

.knapper :last-child {
  border-right: none;
}

button:hover {
  border-bottom: var(--blue) solid 2px;
}

#destination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

article {
  margin: 4rem;
  border: #c7c7c7 1px solid;
  box-shadow: 6px 8px 10px #c7c7c7;
  border-bottom: 2px solid var(--blue);
  display: grid;
}

/*PAKKEINDHOLD*/

h2 {
  display: flex;
  justify-content: center;
}

.hotel,
.restauranter,
.oplevelser {
  font-family: helvetica_medium;
}
img {
  max-width: 100%;
}

.pakke {
  display: flex;
  justify-content: center;
}

.gold_line {
  border: 1.5px var(--guld) solid;
  margin-inline: 9rem;
}
article ul {
  display: grid;
  justify-content: center;
}
.pris {
  display: flex;
  justify-content: center;
  margin-top: var(--space-s);
  font-weight: bolder;
}

/*POPUP*/
#popup article {
  background-color: white;
}

#popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.449);
  overflow-y: scroll;
  padding-top: var(--space-m);
}

#popup article {
  padding-inline: var(--space-s);
}

article .gold_line {
  margin-inline: var(--space-m);
}

/*billeder_popup*/

.img-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}
.popup_billede1 {
  max-width: 45%;
  margin-top: var(--space-xs);
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.popup_billede2 {
  grid-column: 4/-1;
  grid-row: 1;
  max-width: 50%;
}

.popup_billede3 {
  grid-column: 8/span 7;
  grid-row: 1;
  max-width: 80%;
  margin-top: var(--space-xs);
}
.containerline {
  border: 1px solid rgb(190, 190, 190);
}

#popup .pris {
  display: flex;
  justify-content: center;
}
.bestil_rejse {
  background-color: var(--blue);
  color: white;
  font-family: helvetica_light;
  font-size: 0.7rem;
  border-right: none;
  padding-inline: var(--space-xs);
  padding-block: 0.5rem;
  border-radius: 5px;
  margin-block: var(--space-xs);
  place-self: center;
}

.bestil_rejse:hover {
  background-color: var(--guld);
  border-bottom: none;
}

/*----------DESKTOP----------*/

@media (min-width: 800px) {
  .filtre_buttons {
    display: flex;
    justify-content: end;
    margin-right: var(--space-m);
  }

  .filteroverskrift {
    display: flex;
  }

  /*POPUP VINDUE*/
  .img-stack {
    margin-block: var(--space-s);
  }
  .popup_billede1 {
    max-width: 30%;
    margin-top: var(--space-xs);
    grid-column: 4 / span 8;
    grid-row: 1;
    z-index: 1;
  }

  .popup_billede2 {
    grid-column: 6 / span 4;
    grid-row: 1;
    max-width: 60%;
  }
}
