* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

.splash {
  background-image: url(fotos/splash3-kopi.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  max-width: none;
}

.arrow_down {
  animation-name: bouncing_kf;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  margin-left: 34rem;
  margin-bottom: -4rem;
}

@keyframes bouncing_kf {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(20%);
  }
}

.logo {
  max-width: 100%;
  position: absolute;
}

/* NAVIGATION HOVER*/


.logoimg {
  max-width: 100%;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.tyk {
  font-weight: bolder;
}

/* MOBILE */
/* Navigation-bar */

nav {
  color: rgba(255, 255, 255, 0.712);
  font-family: semplicitapro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1em;
  list-style: none;
  cursor: pointer;
  margin-left: 7rem;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.signin {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 3.5rem;
}

ul {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5em;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 2rem 2rem 2rem 2rem;
}

.hide {
  display: none;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}

/* FORSIDETXT */
#splashtext {
  color: white;
  font-family: semplicitapro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  position: absolute;
  left: 50px;
  bottom: 90px;
}

#splashtext2 {
  font-size: 2em;
  font-weight: 700;
}

/* TRAVEL PIC */
.travelimg {
  max-width: 100%;
}

.container_travel {
  position: relative;
}
.text_block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

/* WEB */
@media (min-width: 800px) {
  /* NAVIGATION BAR */
  nav {
    color: rgba(255, 255, 255, 0.712);
    font-family: semplicitapro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1em;
    list-style: none;
    cursor: pointer;
    margin-left: 7rem;
  }

  .flex {
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;
    margin-right: var(--space-m);
    gap: 5rem;
    justify-content: center;
  }

  .signin {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    align-items: flex-end;
    margin-right: 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5em;
  }

  /* TIL STEP BY STEP GUIDEN */
  .circle {
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    max-width: 30%;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 5rem 5rem 5rem 5rem;
  }

  /* FORSIDETXT */
  #splashtext {
    color: white;
    font-family: semplicitapro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    position: absolute;
    left: 100px;
    bottom: 100px;
  }

  #splashtext2 {
    font-size: 2em;
    font-weight: 700;
  }

  /* TRAVEL PIC */
  .travelimg {
    max-width: 100%;
  }

  .container_travel {
    position: relative;
  }
  .text_block {
    position: absolute;
    font-size: 2rem;
    bottom: 129px;
    right: 400px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

  .hide {
    display: inline;
  }
}
