/*-----------FONTE------------*/
@font-face {
  font-family: helvetica_medium; /*Bruges i navigation bar*/
  src: url(fonts/HelveticaNeueMedium.ttf);
}

@font-face {
  font-family: helvetica_light; /*bruges til brødtekst*/
  src: url(fonts/HelveticaNeueLight.ttf);
}
@font-face {
  font-family: helvetica_bold; /*bruges til h2 og h3*/
  src: url(fonts/HelveticaNeueBd.ttf);
}

* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

p,
h3,
li {
  font-family: helvetica_light;
}

h2 {
  font-family: helvetica_bold;
}

html {
  /* farve variabler */
  --blue: #1b8fad;
  --orange: #ce6433;
  --guld: #ba9929;

  /* gap variabler */
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 4rem;
  --space-xl: 5rem;
}

body {
  margin: 0;
}

/* FOOTER */
/* MOBILE */
@media only screen and (max-width: 767px) {
  footer {
    background-color: #009cb2;
    font-size: 0.5em;
    width: 100%;
    height: 150px;
    font-family: semplicitapro, sans-serif;
    font-style: normal;
    color: white;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin-left: 3em;
    margin-top: 2em;
  }

  #copy {
    grid-column: 2 / span 2;
    grid-row: 2;
    text-align: end;
    margin-right: 2em;
    margin-top: 3em;
  }

  .container {
    max-width: 15%;
    display: flex;
    flex-direction: row;
  }

  .col1,
  .col2,
  .col3 {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 767px) {
  footer {
    background-color: #009cb2;
    font-size: 0.8em;
    width: 100%;
    height: 290px;
    font-family: semplicitapro, sans-serif;
    font-style: normal;
    color: white;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    margin-left: 3em;
    margin-top: 5rem;
  }

  #copy {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: end;
    margin-top: 2em;
    margin-right: 2rem;
    font-size: 0.7rem;
  }

  .container {
    max-width: 13%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }

  .col1,
  .col2,
  .col3,
  .col4 {
    margin-top: 2rem;
  }
  .col1 p,
  .col2 p,
  .col3 p,
  .col4 p {
    margin-top: 1rem;
  }
}

/* NAV HOVER */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.2s;
}
nav ul li a:hover {
  color: orange;
  border-bottom: solid orange 1px;
}

/* INDEX LOGO */
.logo2 {
  max-width: 100%;
  margin-left: 0.5rem;
  position: absolute;
}

.nav2 {
  margin-left: 5.5rem;
  list-style: none;
  /* position: absolute; */
}

.ul2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10em;
  margin-top: 1rem;
  border: white solid 1.5rem;
}

/* NAVIGATION WEB */
@media (min-width: 800px) {
  .flex2 {
    display: flex;
    flex-direction: row;
    /* margin-top: 3.5rem; */
    gap: 5rem;
    justify-content: center;
  }

  .ul2 {
    border: white solid 3rem;
  }

  .signin2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
